{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-shadow": 0,
    "no-use-before-define": [2, "nofunc"],
    "react/jsx-boolean-value": 0,
    "react/no-multi-comp": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "id-length": 0,
    "max-len": [2, 120],
    "no-param-reassign": ["error", { "props": false }]
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
