$default-margin: 10px;
$defualt-padding: 10px;

// ============================================================================
// MEDIA QUERY BREAKPOINTS
// ============================================================================

$screen-sm-min: 544px !default;
$screen-md-min: 768px !default;
$screen-lg-min: 992px !default;
$screen-xl-min: 1200px !default;


// ============================================================================
// GRID SYSTEM
// ============================================================================

$grid-columns:               12 !default;
$grid-gutter-width:          10px !default;
$grid-float-breakpoint:      $screen-sm-min !default;
